body{
    background-color: #f8f8ff;

}

.ht-form {
    background-color: #f8f8ff;
    padding-left:20px;
    border-top: 3px solid #dcdcdc;
}

.ht-btn{
    width:300px;
    margin: 40px auto;
}

input[type=text], input[type=email] {
    display: inline-block;
    color: black;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.0);
    border: none;
  }

  .ht-pie{
      background-color: #f8f8ff;
      width:100px;
      height:100px;
      border-width: 5px !important;
      margin-top:20px;
  }

    .ht-pie-2{
      background-color: #f8f8ff;
      width:130px;
      height:130px;
      border-width: 5px !important;
  }

  .ht-pie-2 div {
    font-size: 30px;
    font-weight: bolder;
    color:#696969;
  }

    .ht-pie div {
      font-size: 30px;
      font-weight: bolder;
      color:#696969;
    }

  .ht-bg-img{
    background-image: url("img/esportes.jpg");
    background-color: #4682B4;
    background-repeat: no-repeat, repeat;
    background-position: center top;
  }

  .ht-card{
      padding-top: 40px;
      height:230px;
    
  }
  
  .ht-card-center{
      padding-top: 40px;
      height:230px;
     border-left: 3px solid #dcdcdc;
    border-right: 3px solid #dcdcdc;
 }

 .footer {
    
    width:100%;
    height:80px;
    border-top: 3px solid #dcdcdc;
    background-color: #f8f8ff;
}

.ht-text{
    color:#fff;
    text-align: right;
    font-size: 30px;
    font-weight: lighter;
    margin-top: 30px;;
}

.ht-h3{
    color:#fff;
    margin-top: 30px;;
}